<!DOCTYPE html>
<html lang="en">
<head>
    <title>ADMIN Registration</title>
</head>
<body>
    <h2>Admin Registration </h2>
    <a href="/home">Back</a>

    <form method="post">
        <table border = "1">
            <tr>
                <td>USERNAME</td>
                <td><input type="text" name= "username" required></td>
            </tr>
            <tr>
                    <td>EMAIL</td>
                    <td><input type="email" name= "email" required></td>
                </tr>
            <tr>
                <td>PASSWORD</td>
                <td><input type="password" name= "password" required></td>
            </tr>
            <tr>
                    
                    <td><input type="submit" name= "submit" value="Save"></td>
                </tr>

        </table>
    </form>

</body>
</html>